* {
    box-sizing: border-box;
}

:root {
    --main-blue: rgb(87, 98, 255);
    --main-yellow: rgb(255, 210, 7);
    --main-red: rgb(255, 74, 74);
    --main-grey: rgb(54,54,54);
    --main-text-shadow: 2px 2px 0 rgb(130, 80, 145),
                            4px 4px 0 rgb(207, 70, 97),
                            -1px -1px 0 var(--main-yellow);
}

body {
    width: 100%;
    background: #000;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 5px;
}

header {
    height: 15vh;
    width: 100%;
    text-align: center;
    position: relative;
    background: #000;
}

.container {
    background: rgba(54,54,54,.1),
                    url("../img/ss-random.png");
                    
    width: 100%;
    padding: 5px;
}

.banner {
    height: 20vh;
}

.container img {
    width: 100%;
}

.logo {
    width: auto;
    height: 100%;
    margin: auto;
}