
/* Design a landing page before entering with basic information about yourself */

* {
    box-sizing: border-box;
}

/* Base Styles */

body {
    font-family: 'B612 mono', monospace;
    font-size: .85em;
    background-color: rgb(170, 139, 118);
    padding: 10px;
}

.app {
    border-radius: 5px 5px 3px 3px;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0,0,0,.8);
}

.speech-box {
    background: linear-gradient(0deg, #2a2f36, #000);
    padding: 10px;
}

.window {
    background-color: black;
    color: white;
    padding: 4px;
}

.display-grid,
.grid .not-guessed {
    background: #f9daa6;
    color: rgb(42, 47, 55);
}

header {
    height: 5vh;
}

p {
    margin: 0;
}

input {
    border-radius: 0;
    font-family: inherit;
}

.submit,
.input input {
    all: unset;
}

/* Cosmetic */

.titlebar {
    height: 1.5em;
    background: linear-gradient(90deg, #ddcbb3, #c9b39b);
    
}

.close {
    background-color: rgb(236, 15, 15);
}

.minimize {
    background-color: rgb(219, 179, 67);
}

.maximize {
    background-color: rgb(26, 214, 83);
}

.guessed {
    background-color: #e04632;
    color: white;
}

.correct {
    background-color: #49dd8c;
}

.input,
.submit,
.counter {
    background-color: white;
    color: black;
}

.submit,
.counter,
.display-grid,
.user-input {
    border: solid 1px white;
}

.display-grid {
    display: inline-block;
    font-size: .85em;
    text-align: center;
    padding: 5px 10px;
}

/* Layout */

.primary {
    height: 40vh;
}

.secondary .window {
    height: auto;
    position: static;
}

.app {
    position: relative;
}

.app:first-child .window {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.primary .window {
    padding: 5px;
    position: absolute;
    top: 1.5em;
    bottom: 0;
    left: 0;
    right: 0;
}

.secondary {
    margin-top: 10px;
}

.titlebar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.buttons {
    height: 100%;
    width: auto;
    vertical-align: top;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
}

.buttons div {
    float: left;
    width: .75em;
    height: .75em;
    border-radius: 50%;
    margin-left: 7px;
    box-shadow: inset 0 0 1px gray;
}

.titlebar span,
.titlebar a {
    font-size: .75em;
}

.buttons div:first-child {
    margin-left: 10px;
}

.user-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "input input input input submit"
        "counter display-grid display-grid display-grid display-grid";
    align-items: start;
}

.input {
    grid-area: input;
    padding: 5px 0 5px 5px;
}

.submit {
    grid-area: submit;
    text-align: center;
    height: 100%;
}

.counter {
    grid-area: counter;
    align-self: center;
    justify-self: center;
    vertical-align: center;
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 2px;
}

.display-grid {
    grid-area: display-grid;
}

.guess-grid {
    grid-area: guess-grid;
}

.grid {
    display: flex;
    flex-flow: wrap row;
}

.grid div {
    width: 20%;
    line-height: 12vw;
    text-align: center;
    float: left;
    font-size: 1.5em;
}

/* Media Queries */

@media (min-width: 450px) {
    .speech-box {
        padding-right: 20%;
    }
    .grid div {
        width: 10%;
        line-height: 12vw;
        text-align: center;
        float: left;
        font-size: 1.5em;
    }
}

@media (min-width: 890px) {
    .top {
        display: grid;
        grid-template-areas: "app app secondary";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80vh;
    }

    .primary {
        grid-area: app;
        height: unset;
    }

    .secondary {
        grid-area: secondary;
        margin-top: 0;
        margin-left: 10px;
    }

    .grid {
        flex-direction: column;
    }

    .grid div {
        width: 100%;
        line-height: 10%;
        text-align: center;
        float: left;
        font-size: 1.5em;
    }
}