* {
    box-sizing: border-box;
}

/* DRY Classes */

.inherit {
    color: inherit;
    border-color: inherit;
    background: inherit;
}

/* Base Styles */

body {
    background: black;
}

.container header {
    text-align: center;
    padding: 10px;
    color: lime;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.app-demo {
    background: lime;
    color: lime;
    width: 90vw;
    height: 70vh;
    /* min-width: 600px; */
    /* min-height: 600px; */
    box-shadow: inset 0 0 10px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.game-start {
    width: 95%;
    height: 97%;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.basic-game {
    text-align: center;
    position: relative;
    height: 100%;
}

#user-input {
    width: 100%;
    margin-bottom: 5px;
    color: inherit;
}

#user-input #guess-input {
    width: 70%;
    background: black;
    border: solid 2px lime;
    color: lime;
}

#user-input #guess-submit {
    width: 25%;
    background: lime;
    color: black;
    border: none;
}

.speech-box {
    background-color: black;
    /* box-shadow: inset 0 0 10px white; */
    width: 100%;
    max-width: 500px;
    font-size: 1.25em;
    min-height: 110px;
    margin: 0 auto;
    padding: 15px;
    text-align: left;
}

#prev-guesses {
    /* width: 300px; */
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

#prev-guesses div {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    border: solid 1px lime;
}

/* Game Function Styles */

.inactive {
    display: none;
}

/* Game Start */

.not-guessed {
    color: lime;
}

.guessed {
    background: lime;
    color: black;
    font-weight: bold;
}

.correct {
    background: lime;
    font-weight: bold;
}

.glitch {
    background: red;
    color: red;
    border-color: red;
}

/* Main Game */